.titulos
{
  margin-top: 50px;
  font-family: Arial;
  font-size: 50px;
  color: #8f1e00;
  text-align: center;
}

.subtitulos
{
  margin-top: 30px;
  font-family: Arial;
  font-size: 20px;
  color:#dd6236;
  text-align: center;
}
